@{
    ViewBag.Title = "«SILVER» - Ковромир";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = ViewBag.product;
}

@section Links {
    <link rel="stylesheet" type="text/css" href="~/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/user/css/product_style.css">
    <script src="~/user/js/script.js"></script>
}

<figure>
    <div class="slideshow-container">
        <div class="slide first">
            <img class="slide-img" src="~/images/@product.Photos[0]">
        </div>
        @for (int i = 1; i < product.Photos.Count; i++)
        {
            <div class="slide">
                <img class="slide-img" src="~/images/@product.Photos[i]">
            </div>
        }
        <a class="prev" onclick="difSlide(-1)">❮</a>
        <a class="next" onclick="difSlide(1)">❯</a>
    </div>
    <br>
    <div class="slideshow-dots">
        @for (int i = 1; i <= product.Photos.Count; i++)
        {
            <span class="dot" onclick="currentSlide(@i)"></span>
        }
    </div>
</figure>
<section>
    <h1>Ковер «@product.Name» @product.FullName (артикул @product.Article)</h1>
    <h2>Описание ковра «@product.Name»</h2>
    <p>
        @product.Description
    </p>
    <h2>Характеристики ковра «@product.Name»</h2>
    <div class="row">
        <div class="col-sm">
            <table>
                <tbody>
                    <tr>
                        <td class="t-h">Страна производства</td>
                        <td>@product.Country</td>
                    </tr>
                    <tr>
                        <td class="t-h">Способ производства</td>
                        <td>@product.ProdMethod</td>
                    </tr>
                    <tr>
                        <td class="t-h">Материал</td>
                        <td>@product.Material</td>
                    </tr>
                    <tr>
                        <td class="t-h">Высота ворса</td>
                        <td>@product.PileHeight</td>
                    </tr>
                    <tr>
                        <td class="t-h">Плотность</td>
                        <td>@product.Density</td>
                    </tr>
                    <tr>
                        <td class="t-h">Форма</td>
                        <td>@product.Shape</td>
                    </tr>
                    <tr>
                        <td class="t-h">Узор</td>
                        <td>@product.Pattern</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <table>
                <tbody>
                    <tr>
                        <td class="t-h">Стиль</td>
                        <td>@product.Style</td>
                    </tr>
                    <tr>
                        <td class="t-h">Коллекция</td>
                        <td>@product.Collection</td>
                    </tr>
                    <tr>
                        <td class="t-h">Наименование</td>
                        <td>@product.FullName</td>
                    </tr>
                    <tr>
                        <td class="t-h">Артикул</td>
                        <td>@product.Article</td>
                    </tr>
                    <tr>
                        <td class="t-h">Количество цветов</td>
                        <td>@product.AmountOfColors</td>
                    </tr>
                    <tr>
                        <td class="t-h">Количество фактур</td>
                        <td>@product.AmountOfInvoices</td>
                    </tr>
                    <tr>
                        <td class="t-h">Цвет</td>
                        <td>@product.PrimaryColor</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h2>Доступные размеры ковра «@product.Name»</h2>
        <div class="row">
            @foreach (var sap in ViewBag.sizesAndPrices)
            {
                <div class="col-md-auto">
                    <ul class="price">
                        <li class="header">@sap.Size</li>
                        <li>@sap.Price руб.</li>
                        <li class="black"><a href="#" class="button button-inline">В корзину</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/user/js/shared.js"></script>
}